html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    overflow-x: hidden;
}

.image-section-div::after{
    content: "";
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    position: absolute;
    clip-path: inset(0);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;

}

.image-section-div{
    width:100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    z-index: 4;
}

.content{
    font-family: 'Segoe UI';
}


.section-text {
    height: 20vh;
    width:50vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-text p{
    display: inline-block;
    font-size: xx-small;
    font-size: 2vh;
}


.title {
    height: fit-content;
    width: fit-content;
    display: inline-block;
    inline-size: 20vw;
}

.title h3{
    font-size: small;
    font-weight: normal;
    margin-bottom: 0;
}

.title p{
    margin-top: 1vw;
    font-size: 1vw;
}


#Banner {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    z-index: 0;
}

#Banner::after{
    content: "";
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    background-image: url('/Assets/images/regional-monterrey.jpg');
    display: flex;
    height: 100vh;
    width: 100vw;
    position: absolute;
    clip-path: inset(0);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

#Banner::before{
    top: 0;
    left: 0;
    content: "";
    position: absolute;
    background-color:  rgba(49, 54, 56, 0.7);
    height: 100vh;
    width: 100vw;
    z-index: 2;
}

#Banner #Logo-Grande{
    position: relative;
    width: 45vh;
    z-index: 3;
}


#Section_1  {
    position: relative;
    width: 100vw;
    display: inline-block;
    align-self: center;
}

#Section_1 .content{
    bottom: 0vh;
    height: 40vh;
    width: 100vw;
    display: flex;
    position: absolute;
    background-color: rgba(49, 54, 56, 0.9);
    z-index: 5;
    align-content: center;
    align-items: center;
    justify-content: center;
    
}

#Section_1 .content p, h3{
    color: white;
    
}

#Section_1 .content::before{
    content: "";
    top: 0;
    position: absolute;
    height: .4vw;
    width: 100vw;
    background-color: yellow;
}

#Section_1 .image-section-div::after{
    background-image: url('/Assets/images/ingenieria.jpg');
    z-index: 4;
    
}

#Section_1  .fixed-images{
    top: 0;
    z-index: 4;
    width: 100vw;
}

